In [10]:
import mysql.connector as connector

# Establish connection between Python and MySQL database via connector API
connection=connector.connect(
    host="localhost",
    user="root", # use your own
    password="2324", # use your own
    )
print("Connection between MySQL and Python is established.\n")

Connection between MySQL and Python is established.

In [11]:
cursor = connection.cursor()

cursor.execute("USE LittleLemonDB")

In [12]:

# The SQL query is:
show_table_query = """SHOW tables 

"""

cursor.execute(show_table_query)
results = cursor.fetchall()

print(cursor.column_names)
for result in results:
    print(result)

('Tables_in_littlelemondb',)
('bookings',)
('customers',)
('delivery',)
('menus',)
('order_view',)
('orders',)
('staff',)

In [13]:
show_table_query = """
SELECT CustomerName, contactInfo
FROM customers AS c
        INNER JOIN (
        SELECT b.CustomerID
        FROM orders AS o
        LEFT JOIN bookings AS b ON o.BookingID = b.BookingID
        WHERE o.BillAmount > 60
        ) AS filter_orders 
        ON c.CustomerID = filter_orders.CustomerID
"""

cursor.execute(show_table_query)
results = cursor.fetchall()

print(cursor.column_names)
for result in results:
    print(result)

('CustomerName', 'contactInfo')
('Kevin Love', '567-345-0045')
('Yao Ming', '565-453-7545')

In [9]:
# Let's close the cursor and the connection
if connection.is_connected():
    cursor.close()
    print("The cursor is closed.")
    connection.close()
    print("MySQL connection is closed.")
else:
    print("Connection is already closed")

The cursor is closed.
MySQL connection is closed.